{% extends 'base.html' %}
{% block content %}
    <h1 class='text-center'>Convert</h1>
    <form method='POST' action='/convert' enctype='multipart/form-data'>
        <div class="form-group">
            <label class='formula-name-label'>Formula Name</label>
            <input required autocomplete='off' id='formula-name' name='formula-name' type="text" class="form-control form-control-lg my-2" placeholder="Enter formula name">
        </div>
        <h4 class='text-center py-2'>OR</h4>
        <div class="form-group">
            <label for="exampleFormControlFile1">Image of formula name</label>
            <input required id='formula-image' name='formula-image' type="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="submit-btn btn btn-primary py-2 my-2">Submit</button>
    </form>

    {% if chemicalFormula %}
        <div class='h-50 d-flex align-items-center justify-content-center'>
            <p style='font-size: 10vw;'>{{ chemicalFormula|safe }}</p>
        </div>
    {% endif %}

    <div class='button my-2 fixed-bottom d-flex justify-content-center'>
        <a href="{{ url_for('home') }}" role='button' class='btn back-btn btn-outline-primary w-75 py-3 my-2'>Back</a>
    </div>

    <script src="{{ url_for('static', filename='js/inputChange.js') }}"></script>
{% endblock content %}